[submodule "private"]
	path = private
	url = https://github.com/ang3lo-azevedo/bootstrap-private
[submodule "archpostinstall"]
	path = archpostinstall
	url = https://github.com/ang3lo-azevedo/archpostinstall
[submodule "dotfiles"]
	path = dotfiles
	url = https://github.com/ang3lo-azevedo/dotfiles
[submodule "bash-utils"]
	path = bash-utils
	url = https://github.com/ang3lo-azevedo/bash-utils
