[submodule "archpostinstall"]
	path = archpostinstall
	url = https://github.com/ang3lo-azevedo/archpostinstall
[submodule "archinstall-config"]
	path = archinstall-config
	url = https://github.com/ang3lo-azevedo/archinstall-config
[submodule "dotfiles"]
	path = dotfiles
	url = https://github.com/ang3lo-azevedo/dotfiles
[submodule "private"]
	path = private
	url = https://github.com/ang3lo-azevedo/bootstrap-private
